:root 
 --color-white-two: #f7f7f7
 --color-white: #fff
 --color-gray: #777
 --color-gray-two: #333
 --color-brown: #a14f03
 --black: #000
 --color-orange: #ba8554
 --color-red: #d76363
 --color-green: #66d763
 --box-shadow-one: 0px 4px 4px rgba(0, 0, 0, 0.1)
 --box-shadow-two:  0px 4px 4px rgba(0, 0, 0, 0.3)
 

body 
  font-family: "Roboto", sans-serif
  color: var(--color-gray)
  font-weight: 400
  padding: 50px

ul
  padding: 0
